<!-- 
<div *ngFor="let item of items; let i=index">
  <input [(ngModel)]="item" name="item{{i}}"> <button (click)="removeItem(i)">remove</button>
</div>

Item  : <input type="text" [(ngModel)]="mItem"> 
<button  (click)="addItem()">Add</button> --> -->






<h1> {{title}} </h1>


<ul>
  <li *ngFor="let movie of movies; let i=index;trackBy:trackByFn;">
    {{i}}. {{ movie.title }} - {{movie.director}} <button (click)="remove(i)">remove</button>
  </li>
</ul>

<button (click)="Refresh()">Refresh</button> <br>

Title     : <input type="text" [(ngModel)]="mTitle"> 
Director  : <input type="text" [(ngModel)]="mDirector"> 
<button  (click)="addMovie()">Add</button> 




<!--trackBy: trackByFn;  -->