<p> {{title}} </p>

<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>ngSwitch Example 1 </h1>
  </div>
  <div class="panel-body">
    Input string : <input type='text' [(ngModel)]="num" />

    <div [ngSwitch]="num">
      <div *ngSwitchCase="'1'">One</div>
      <div *ngSwitchCase="'2'">Two</div>
      <div *ngSwitchCase="'3'">Three</div>
      <div *ngSwitchCase="'4'">Four</div>
      <div *ngSwitchCase="'5'">Five</div>
      <div *ngSwitchDefault>This is Default</div>
    </div>
  </div>
</div>


<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h1>ngSwitch Example 2</h1>
  </div>

  <div class="panel-body">
    <div class='row'>
      <div class='col-md-6'>
        <select [(ngModel)]="selectedValue">
          <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='row' [ngSwitch]="selectedValue">
        <div *ngSwitchCase="'One'">One is Selected</div>
        <div *ngSwitchCase="'Two'">Two is Selected</div>
        <div *ngSwitchCase="'Two'">Two Again used in another element</div>
        <div *ngSwitchDefault>This is Default</div>
      </div>
    </div>

    <h2>ngSwitch using ng-template</h2>
    <div class='col-md-6'>
      <div class='row' [ngSwitch]="selectedValue">
        <ng-template [ngSwitchCase]="'One'">One is Selected</ng-template>
        <ng-template [ngSwitchCase]="'Two'">Two is Selected</ng-template>
        <ng-template ngSwitchDefault>This is Default</ng-template>
      </div>
    </div>

    <h2>ngSwitchDefault</h2>
    <div class='col-md-6'>
      <div class='row' [ngSwitch]="selectedValue">
        <div *ngSwitchCase="'One'">One is Selected</div>
        <div *ngSwitchDefault>This is Default 1</div>
        <div *ngSwitchCase="'Two'">Two is Selected</div>
        <div *ngSwitchDefault>This is Default 2</div>
      </div>
    </div>


  </div>
</div>