<p> {{title}} </p>

<div class='card'>
  <div class='card-header'>
    <p>Simple example of ngClass </p>
  </div>
  <div class="card-body">

    <div class="row">
      <div [ngClass]="'red size20'">
        Red Text with Size 20px : as string
      </div>
    </div>

    <!-- This also works. -->
    <div class="row">
      <div ngClass='red size20'>
        Red Text with Size 20px : as string
      </div>
    </div>

    <div class="row">
      <div [ngClass]="['red','size20']">
        Red Text with Size 20px : as array
      </div>
    </div>


    <div class="row">
      <div [ngClass]="{'red':true,'size20':true}">
        Red Text with Size 20px : as object
      </div>
    </div>


    <!-- Getting Data from Component. You can modify the CSS From the component -->
    <div class="row">
      <div [ngClass]="cssStringVar">
        Red Text with Size 20px : from component
      </div>
    </div>

    <div class="row">
      <div [ngClass]="cssClass">
        Red Text with Size 20px : from component as object
      </div>
    </div>

  </div>
</div>